// color palette
$color_galactic_blue: #755cde;
$color_summer_yellow: #f6a560;
$color_pink: #f39e9e;
$color_light_red: #eb7565;
$color_cyan: #61c4b7;
$color_dark_purple: #552049;
$color_black: #030303;
$color_medium_brown: #7a746e;
$color_ligth_cream: #fff7f0;

// typography
$heading_large: 56px;
$heading_medium: 40px;
$heading_small: 32px;

$body_medium: 18px;
